{{> header}}
<section class="hero is-fullheight bg-img-login"> 

  <div class="columns">

    
    <div class="column"></div>


    <div class="column mt-6">
      <section>
          <div class=" blackboard has-text-centered mb-4">
            <h3 class="subtitle is-3 mt-3 chalk"> </span> Bar Rundan <span class="chalk-line"></span></h3>
            <div class="chalk">
                {{#each bars}}
                    <h4 class="subtitle is-4 mt-3 chalk"> </span> {{counter @index}}. {{this.name}}</h4>
                {{/each}}
        
            </div> 
          </div>
      </section>

      <div class="columns is-centered mt-4">
        <form action="/bars" method="post">
          <input class="button" type="submit" value="Ny runda"></input>
        </form>
        <form action="/bars/delete" method="post">
          <input class="button ml-4" type="submit" value="Avsluta"></input>
        </form>
      </div>
    </div>
    <div class="column"></div>
  </div>

</section>