{{> header}}
<section class="hero is-fullheight bg-img-login"> 

  <div class="columns">
    <div class="column ">
      
    </div>
    <div class="column mt-6">
      <section>
          <div class=" blackboard has-text-centered mb-4">
            <h3 class="subtitle is-3 mt-3 chalk"> </span> Bar Rundan <span class="chalk-line"></span></h3>
            <div class="chalk">
                {{#each bars}}
                    <h4 class="subtitle is-4 mt-3 chalk"> </span> {{counter @index}}. {{this.name}}</h4>
                {{/each}}
        
            </div> 
          </div>
      </section>

      <div class="column has-text-centered mt-6">
        <form action="/bars" method="post">
          <input class="button nyrundabtn" type="submit" value="Starta ny runda"></input>
        </form>
    </div>
    <div class="column has-text-centered mt-6">
      
        <form action="/teams" method="post">
        <div class="field">
          {{#each errors}}
              <p class="has-text-centered">{{this}}</p>
            {{/each}}
        <label class="label">Användarnamn</label>
        <div class="control has-icons-right">
          <input class="input" type="text" name="teamName" value="{{teamName}}" placeholder="Skriv ditt team namn här">
        </div>
        </div>
          <input class="button nyrundabtn" type="submit" value="Skapa team"></input>
        </form>
    </div>
    </div>
    <div class="column"></div>
  </div>

</section>