<section class="hero is-fullheight bg-img-login"> 
 
    <div class="columns is-centered">
      <div class="column column is-4 mt-4">
      
      <section class=" blackboard">
          <div class="has-text-centered mb-4">
        
            <h3 class="subtitle is-3 mt-3 chalk"> </span> Bar Rundan <span class="chalk-line"></span></h3>
            <div class="chalk">
                {{#each bars}}
                    <h4 class="subtitle is-4 mt-3 chalk"> </span> {{this.name}}</h4>
                {{/each}}
        
            </div>
          </div>
      </section>
      <div class="column has-text-centered mt-6">
        <form action="/bars" method="get">
          <input class="button nyrundabtn" type="submit" value="Starta ny runda"></input>
        </form>
      
  </div>
      
    </div> 
  
    </div>
    
</section>