<section class="hero is-fullheight bg-img-login"> 
<form action="login" method="POST">
  <div class="columns is-vcentered mt-6">
    <div class="column"></div>
    <div class="column">

      <section class=" blackboard">
          <div class="has-text-centered mb-4">
        
            <h3 class="subtitle is-3 mt-3 chalk"> </span> Bar Rundan</h3>
            <div class="chalk">
                {{#each bars}}
                    <h4 class="subtitle is-4 mt-3 chalk"> </span> {{this.name}}</h4>
                {{/each}}
        
            </div>
          </div>
      </section>
    </div>
    <div class="column"></div>
  </div>
</form>
</section>