{{> header}}
<section class="hero is-fullheight bg-img-login"> 

  <div class="columns">

    
    <div class="column"></div>


    <div class="column mt-6">
      <section>
          <div class="blackboard">

            <div>
              <h3 class="subtitle is-4 mt-3 chalk"> </span> Skapa ett team </h3>
              <form action="/teams" method="post">
                <div class="field">
                  <div class="control has-icons-right">
                    <input class="input" type="text" name="teamName" value="{{teamName}}" placeholder="Lagnamn">
                  </div>
                </div>
                <div class="field">
                  <input class="chalkbtn is-vcentered  is-outlined" type="submit" value="Skapa"></input>
                </div>
              </form>
            </div>
 
            <div>
              <h3 class="subtitle is-4 mt-5 chalk"> </span> Joina ett team </h3>

              <div class="field">
                <div class="control has-icons-right">
                  <input class="input chalkinput" type="text" name="username" value="{{username}}" placeholder="Lagnamn#1234">
                </div>
              </div>
              <div class="field">
                <input class="chalkbtn is-vcentered  is-outlined" type="submit" value="Joina team"></input>
              </div>
            </div>

            <form action="/bars" method="POST">
              <div>
                <h3 class="subtitle is-4 mt-6 chalk"> </span> Ge mig en barrunda! </h3>
                <div class="field has-text-centered">
                  <input class="chalkbtn is-vcentered  is-outlined" type="submit" value="Skapa barrunda"></input>
                </div>
              </div>
            </form>
            
          </div>
      </section>


    </div>
    <div class="column"></div>
  </div>

</section>