@import url(https://fonts.googleapis.com/css?family=Walter+Turncoat);

:root {
    --green: #0D6853;
    --darkgrey: #352922;
    --woodenbrown: #B56239;
    --woodenbrownLight: #CE7F54;
    --woodenbrownDark: #B15933;
    --chalk: #FEF0D6;
    --darkDarkgrey: #1D1212;
    --darkLightgrey: #42352C;
  }

body{
    
}

.line {
    border-bottom: 2px solid lightgray;
    display: block;
}

.bg-img-login{
    background-image: url(../images/bar_background.jpg);
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
}

.bg-img-signup{
    background-image: url(../images/winecellar.jpg);
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
}

.welcomeTxt {
    color: white;
}



.blackboard {
    background: 
    linear-gradient(var(--darkLightgrey), var(--darkDarkgrey)) padding-box,
    linear-gradient(var(--woodenbrownLight), var(--woodenbrownDark)) border-box;
    border: 7px solid transparent;
    border-radius: 5px;
    display: block;
    width: 60%;
    height: 80%;
    min-height: auto;
    margin: 30px auto 0 auto;
    padding: 20px 30px;
    overflow-y: auto;
}

.nyrundabtn {
    background-color: var(--darkgrey);
    color: var(--chalk);
    
    font-family: "Walter Turncoat", cursive;
    font-size: 25px;
    border-radius: 30px;

}

.chalkinput[type=text] {
    border: none;
    border-bottom: 2px solid --chalk;
}

.chalkbtn {
    background-color: var(--darkgrey);
    color: var(--chalk);
    font-family: "Walter Turncoat", cursive;
    font-size: 18px;
    border-radius: 10px;
    border-color: var(--chalk);
}

.chalk-line{
    border-bottom: 2px solid var(--chalk);
    display: block;
}
.chalk {
    color: var(--chalk);
    font-family: "Walter Turncoat", cursive;
}

.line-through {
    text-decoration: line-through;
    text-decoration-thickness: 2px;
}

.darkGrey{
    background-color: var(--darkgrey);
}